* {
	margin: 0px;
	padding: 0px;
}
.dark-bg {
	background-color: #333;
}
.active {
	color: #ff7200 !important;
}
.orange-txt {
	color: #ff6000;
}
.clear {
	clear: both;
}
#navbar {
	height: 50px;
}
#navbar h1 {
	float: left;
	margin: 10px;
}
#navbar ul {
	float: right;
	margin-top: 15px;
}
#navbar a {
	text-decoration: none;
	color: white;
	padding: 5px;
}
#navbar ul li {
	display: inline;
}

#navbar ul a:hover {
	background-color: #eee;
	color: #f0f;
}
#navbar .container {
	max-width: 1100px;
	margin: auto;
}

.main {
	color: white;
	text-align: center;
	height: 600px;
	padding: 50px;
	box-sizing: border-box;
	background: url('main.jpeg') no-repeat center center;
	background-size: cover;
}

.main h1 {
	font-size: 70px;
	padding: 10px;
	margin: 10px 0px;
}
.main p {
	font-size: 20px;
	margin: 15px 0px;
}

.main a {
	margin-top: 10px;
	display: inline-block;
	color: black;
	background-color: #eee;
	padding: 10px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
}

.main a:hover {
	background-color: #ccc;
	color: #f40;
}

.history div {
	width: 50%;
	float: left;
	height: 400px;
	box-sizing: border-box;
}

.hotel-img {
	height: 450px;
	background: url('main3.jpeg') no-repeat center center;
	background-size: cover;
}
.hotel-info {
	height: 450px;
	padding: 20px;
	text-align: center;
	color: white;
}

.featuers {
	background-color: #ccc;
	height: 200px;
	text-align: center;
}
.featuer {
	width: 33.3%;
	float: left;
	height: 200px;
	padding: 5px;
	box-sizing: border-box;
}
.featuer h3 {
	margin: 10px 0px;
}
.featuer p {
	margin: 10px auto;
	max-width: 300px;
}
.f2 {
	background-color: #ff8200;
}

#main-footer {
	text-align: center;
	color: white;
	padding: 5px;
	font-size: 18px;
}
